<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.adair.itooler">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /><!--适配Android O 应用安装-->

    <application>
        <activity
            android:name="cn.adair.itooler.update.PermissionActivity"
            android:label=""
            android:theme="@style/PermissionTheme" />
        <service android:name="cn.adair.itooler.update.iUpdateService" />
    </application>

</manifest>
